{% extends 'about.html' %}
{% block content %}
<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
				<li>Sign Up</li>
			</ul>
		</div>
	</div>

<div class="w3_login">
			<h3> Sign Up</h3>
			<div class="w3_login_module">
				<div class="module form-module">
				<!--  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
					<div class="tooltip">Click Me</div>
				  </div> -->
				  <div class="form">
					<h2>Login to your account</h2>
					<form action="#" method="post">
					  <input type="text" name="Username" placeholder="Username" required=" ">
					  <input type="password" name="Password" placeholder="Password" required=" ">
					  <input type="submit" value="Login">
					</form>
				  </div>

				  <div class="form">
					<h2>Create an account</h2>
					<form action="/staff_reg/" method="post">
						{% csrf_token %}
					  <input type="text" name="name" placeholder="Username" required=" " pattern="[A-Za-z]{1,32}">
					  <textarea name="address" placeholder="Address" required=""></textarea>
					  <input type="text" name="phone" placeholder="Phone Number" required=" " pattern="[0-9]{10,10}">
					  <input type="email" name="email" placeholder="Email Address" required=" ">
					  <input type="password" name="pswd" placeholder="Password" required=" " maxlength="8" minlength="8">
					  <input type="submit" value="Register">
					</form>
				  </div>
				  <!-- <div class="cta"><a href="#">Forgot your password?</a></div> -->
				</div>
			</div>
			<!-- <script>
				$('.toggle').click(function(){
				  // Switches the Icon
				  $(this).children('i').toggleClass('fa-pencil');
				  // Switches the forms  
				  $('.form').animate({
					height: "toggle",
					'padding-top': 'toggle',
					'padding-bottom': 'toggle',
					opacity: "toggle"
				  }, "slow");
				});
			</script> -->
		</div>

{% endblock %}