{% extends 'User/user_home.html' %}
{% block content %}

<div class="w3l_banner_nav_right">
	<div class="container" style="padding-top: 100px;"></div>
	<h3>My Profile</h3>
			<br>

			<form action="/user_edit_profile/" method="post">
				{% csrf_token %}
	<table class="table" border="0">
		{% for x in var %}
		<tr>
			<th>Name</th><td><input type="text" name="name" value="{{x.name}}" pattern="[A-Za-z\s]{1,32}"></td></tr>
			<tr>
		    <th>Address</th><td><input type="text" name="address" value="{{x.address}}"></td>
			</tr>
			<tr><th>Phone</th><td><input type="text" name="phone" value="{{x.phone}}" pattern="[0-9]{10,10}"></td></tr>
			<tr><th>Email</th><td><input type="text" name="email" value="{{x.email}}"></td></tr>
			<tr><th>Password</th><td><input type="text" name="pswd" value="{{x.pswd}}" maxlength="8" minlength="8"></td></tr>
		</tr>
		<tr>
			<td><input type="submit" name="btn" value="Update" class="btn btn-success"></td>
		</tr>
		{% endfor %}
	</table>
	</form>
			<!-- <div class="w3l_banner_nav_right_banner3">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div> -->
			</div>

			<div class="container" style="height: auto;"></div>


{% endblock %}