# Virtual environments
venv/
myenv/
env/

# Python cache
__pycache__/
*.pyc

# Media files
media/

# Static collected files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Database
db.sqlite3