{% extends 'Staff/staff_home.html' %}
{% block content %}
<style type="text/css">
	th{
		background-color: #e6e6e6;
		color: black;
	}
</style>
<div class="w3l_banner_nav_right">
	<div class="container" style="padding-top: 100px;"></div>


			<h3>Complaint Form </h3>
			<br>
            <div class="col-md-10 agileinfo_mail_grid_right">
					<form action="/staff_complaint/" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<!-- <div class="col-md-6 wthree_contact_left_grid">
							
							<input type="text" name="date" placeholder="Working Hours*" required="">
						</div> -->

						<!-- <div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="sub" placeholder="Subject*" required="">
							
						</div> -->

						<div class="clearfix"> </div>
						<input type="text" name="sub" placeholder="Subject*" required="">
						<textarea  name="complaint"  required="" placeholder="Complaint Discription.."></textarea>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
		    </div>




</div>
<div class="container" style="height: auto;"></div>
{% endblock %}