{% extends 'Admin/admin_home.html' %}
{% block content %}
<style type="text/css">
	th{
		background-color: #e6e6e6;
		color: black;
	}
</style>

<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>

<div class="w3l_banner_nav_right">
	<div class="container" style="padding-top: 100px;"></div>


			<h3>All Products</h3>
			<br>

			{% for x in var %}
			<div class="gallery">
            <a target="_blank" href="#">
            <img src="{{x.img.url}}" alt="Cinque Terre" width="250" height="250">
            </a>
            <div class="desc">{{x.name}} ({{x.qty}})<br>Rs.{{x.price}} </div>
            <center>
            <a href="/admin_edit_product/?id={{x.id}}"><button id="btn1" class="btn btn-success" name="submit">EDIT</button></a> <a href="/admin_delete_product/?id={{x.id}}"><button id="btn1" class="btn btn-danger" name="submit">DELETE</button></a>
            </center>
            <!-- <div class="snipcart-details">
				<a href="/admin_edit_product/?id={{x.id}}"><button id="btn1"class="button" name="submit">EDIT</button></a>
				<br><br>
				</div> -->
            </div>


           <!--  <div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="/static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="#"><img src="{{x.img.url}}" alt=" " class="img-responsive" /></a>
											<p>{{x.name}} ({{x.qty}})</p>
											<h4>${{x.price}} <span>$5.00</span></h4>
										</div>

										<div class="snipcart-details">
											<a href="/admin_edit_product/?id={{x.id}}"><button id="btn1"class="button" name="submit">EDIT</button></a>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<br> -->
					{% endfor %}
					




</div>
<div class="container" style="height: auto;"></div>
{% endblock %}