{% extends 'Admin/admin_home.html' %}
{% block content %}
<style type="text/css">
	th{
		background-color: #e6e6e6;
		color: black;
	}
</style>
<div class="w3l_banner_nav_right">
	<div class="container" style="padding-top: 100px;"></div>
	<table class="table" border="0">
		<tr>
			<th>Sl.No.</th>
			<th>Name</th>
			<th>Address</th>
			<th>Phone</th>
			<th>Email</th>
			<th></th>

		</tr>
		{% for x in var %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{x.name}}</td>
			<td>{{x.address}}</td>
			<td>{{x.phone}}</td>
			<td>{{x.email}}</td>
			<td></td>

		</tr>
		{% endfor %}
	</table>
			<!-- <div class="w3l_banner_nav_right_banner3">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div> -->
			</div>

			<div class="container" style="height: 400px;"></div>


{% endblock %}